body {
  background: #fff;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  margin-left: 30px;
}
ol header {
  font-weight: 700;
  font-size: 20px;
  position: relative;
}
ol header:before {
  content: "";
  border-radius: 20px;
  background-color: #fff;
  border-color: #2AB9ED #2AB9ED #2AB9ED #2AB9ED;
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  box-shadow: 0px 0px 4px 0 #333;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  left: -51px;
}
ol > li {
  padding: 0 0 25px 40px;
  border-left: 1px solid #000;
}
ol > li:first-child {
  padding-top: 0;
}
ol > li:last-child {
  padding-bottom: 0;
  border: 0;
}
.circle_pie {
  border-radius: 20px;
  background-color: #fff;
  border-color: #2AB9ED #2AB9ED #2AB9ED #2AB9ED;
  border-width: 12px 13px 12px 12px;
  border-style: solid;
  box-shadow: 0px 0px 4px 0 #333;
  display: inline-block;
  height: 10px;
  width: 10px;
}
